{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        {% load static %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        />
    </head>
    <body style="background-color: #f5f5f5f5;">
        <br /><br /><br /><br />
        <div class="container d-flex align-items-center justify-content-center">
            <div class="card mb-3" style="max-width: 800px">
                <!-- Adjusted max-width -->
                <div class="row g-0">
                    <div class="col-md-4">
                        <img
                            src="{% static 'me.JPG'  %}"
                            class="img-fluid rounded-start"
                            alt="Coffee"
                            style="object-fit: cover; height: 100%; width: 100%"
                        />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title" style="font-size: 2em">
                                Abdulhadi Muntashir
                            </h3>
                            <p class="card-text" style="font-size: 1.5em">
                                First Year <br />
                                Informatics <br />
                                NPM: 3337230041 <br />
                                To Connect With Me:
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    <a
                                        href="https://www.linkedin.com/in/anurag-das-7708ba227"
                                        target="_blank"
                                        class="fab fa-linkedin"
                                        style="
                                            margin-right: 35px;
                                            font-size: 3em;
                                        "
                                    ></a>
                                    <a
                                        href="https://github.com/anuragiiti"
                                        target="_blank"
                                        class="fab fa-github"
                                        style="
                                            margin-right: 35px;
                                            font-size: 3em;
                                        "
                                    ></a>
                                    <a
                                        href="https://www.instagram.com/anurag__das___/"
                                        target="_blank"
                                        class="fab fa-instagram"
                                        style="
                                            margin-right: 35px;
                                            font-size: 3em;
                                        "
                                    ></a>
                                    <a
                                        href="https://www.facebook.com/profile.php?id=100076124563950"
                                        target="_blank"
                                        class="fab fa-facebook"
                                        style="
                                            margin-right: 35px;
                                            font-size: 3em;
                                        "
                                    ></a>
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"
    ></script>
</html>
{% endblock %}
