<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Alpha and Omega</title>
        {% load static %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    </head>
    <body>
        <header>
            <div style="position: relative">
                <nav
                    class="navbar navbar-expand-lg"
                    style="position: sticky; top: 0; background-color: #000000"
                    data-bs-theme="dark"
                >
                    <div
                        class="container-fluid"
                        style="
                            border-radius: 20px;
                            box-shadow: 5px 5px 10px black;
                        "
                    >
                        <span
                            style="
                                display: inline-block;
                                vertical-align: middle;
                            "
                        >
                            <img
                                src="{% static '2064.png'  %}"
                                style="width: 80px; height: 80px"
                            />
                        </span>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation"
                        >
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="collapse navbar-collapse"
                            id="navbarSupportedContent"
                        >
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        style="color: #ffffff"
                                        aria-current="page"
                                        href="{% url 'home' %}"
                                        >Home</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        style="color: #ffffff"
                                        href="{% url 'about' %}"
                                        >About</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        style="color: #ffffff"
                                        href="{% url 'categories' %}"
                                        >Category</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        style="color: #ffffff"
                                        href="{% url 'contactus' %}"
                                        >Contact us</a
                                    >
                                </li>
                            </ul>
                            {% if user.is_authenticated %}
                            <div class="d-flex align-items-center">
                                <span
                                    class="navbar-text mr-3"
                                    style="
                                        color: #ffffff;
                                        font-size: large;
                                    "
                                >
                                    Hello, {{ user }}
                                </span>
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger font-size-s">
                                        Logout
                                    </button>
                                </form>
                            </div>
                            {% else %}
                            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        style="color: #ffffff"
                                        href="{% url 'login' %}"
                                        >Login or Signup</a
                                    >
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
<section
    class="hero-section flex-column align-center justify-center p-3"
    style=" background: url('{% static "book-bg.svg" %}') no-repeat, linear-gradient(var(--color-4), var(--color-1));"
>
    <br />
    <br />
    <h1 class="hero-title font-style-2 color-white p-1">
        Alpha and Omega
    </h1>
    <br />
    <br />
    <h4 class="font-style-1 color-white font-size-md">
        Sebuah Open Library untuk semua kalangan
    </h4>
    <br />
    <br />
    <br />
</section>
        </header>
        <!-- header -->
        <div id="content">{% block content %} {% endblock %}</div>
        <br /><br />
        <!-- content -->
        <footer class="bg-white border">
            <section
                class="d-flex flex-wrap justify-around footer-links-container mx-auto"
            >
                <h2 class="d-none">This is hidden</h2>
                <div class="p-1">
                    <div class="d-flex justify-center align-center">
                        <img
                            src="{% static 'book-gray.svg' %}"
                            alt="bookshop-logo"
                        />
                        <span class="color-2 font-style-3 font-size-md pl-1"
                            >Alpha and Omega</span
                        >
                    </div>
                    <p class="font-style-2 color-2 font-size-sm py-half">
                        Alpha and Omega is a Open Library for books. Here you can
                        find<br />
                        a huge collection of books. You can browse through
                        our<br />
                        search box. Our search algorithm will help you find
                        your<br />
                        preferred books.
                    </p>
                </div>
            </section>
            <section
                class="border"
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <h2 class="d-none">This is hidden</h2>
                <div
                    class="copyright-section p-1 mx-auto d-flex justify-between align-center"
                >
                    <p class="font-size-sm font-style-1 color-2">
                        Copyright&copy; 2024 alphaandomega.com. All rights reserved.
                        Created by Abdulhadi Muntashir. Design idea by Ershadul
                        Hakim Rayhan.
                    </p>
                </div>
            </section>
        </footer>
    </body>
</html>
