{% extends "base.html" %} {% load static %} {% block content %}

<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />

<style>
    button {
        position: relative;
        padding: 10px 20px;
        border-radius: 7px;
        border: 1px solid rgb(61, 106, 255);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: rgb(61, 106, 255);
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    button:hover {
        background: rgb(61, 106, 255);
        box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    button:hover::before {
        -webkit-animation: sh02 0.5s 0s linear;
        -moz-animation: sh02 0.5s 0s linear;
        animation: sh02 0.5s 0s linear;
    }

    button::before {
        content: "";
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

    @keyframes sh02 {
        from {
            opacity: 0;
            left: 0%;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
            left: 100%;
        }
    }

    button:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
    }
</style>

<main class="pb-4" style="background-color: #f5f5f5f5">
    <!-- Featured Book -->
    <div class="bg-white border">
        <section class="featured-book mx-auto p-1">
            <h1
                class="font-style-2 font-size-md color-2 black-highlight pointer"
            >
                FEATURED BOOK
            </h1>
            <article class="d-flex justify-between py-1">
                <img
                    src="{% static 'siddhartha.jpg' %}"
                    alt="siddhartha"
                    class="d-block h-200"
                />
                <div class="ml-1 d-flex flex-column justify-between">
                    <h4
                        class="font-style-2 font-size-md color-1 pointer black-highlight"
                    >
                        Siddhartha: A Novel
                        <span
                            class="font-style-1 font-size-md color-2 black-highlight"
                            >by Hermann Hesse, Hilda Rosner (Translator)</span
                        >
                    </h4>
                    <p
                        class="font-style-1 font-size-s color-3 py-1 visible-in-sm gray-highlight pointer"
                    >
                        Herman Hesse's classic novel has delighted, inspired,
                        and influenced generations of readers, writers, and
                        thinkers. In this story of a wealthy Indian Brahmin who
                        casts off a life of privilege to seek spiritual
                        fulfillment.
                    </p>
                    <p
                        class="font-size-md font-style-2 color-3 gray-highlight pointer"
                    >
                        Rating: 4/5
                    </p>
                </div>
            </article>
        </section>
        <br />
    </div>
    <div class="container mt-5">
        {% for category, book_list in books.items %}
        <h2
            class="font-style-2 font-size-md color-2 border-bottom my-1 py-1 black-highlight pointer"
        >
            {{ category }}
        </h2>
        <div class="row d-flex justify-content-center align-items-center">
            {% for book in book_list %}
            <article
                class="book-card bg-white my-1"
                style="width: 20%; margin: 1%; box-sizing: border-box"
            >
                <h2 class="d-none">{{ book.name }}</h2>
                {% if book.cover_image %}
                <img
                    src="{{ book.cover_image.url }}"
                    alt="{{ book.name }}"
                    class="book-card-img d-block"
                />
                {% else %}
                <img
                    src="{% static 'jempol.jpeg' %}"
                    alt="{{ book.name }}"
                    class="book-card-img d-block"
                />
                {% endif %}
                <div
                    class="p-half pointer d-flex flex-column justify-between"
                    style="height: 250px"
                >
                    <p
                        class="font-style-1 font-size-lg color-3 py-1 gray-highlight"
                    >
                        {{ book.name }}
                    </p>
                    <div>
                        <p
                            class="font-size-sm font-style-2 color-3 gray-highlight"
                        >
                            by {{ book.author }}
                        </p>
                        <p
                            class="font-size-s font-style-2 color-3 py-1 gray-highlight"
                        >
                            Available stock: {{ book.stock }}
                        </p>
                        <p class="py-1 d-flex justify-between align-center">
                            {% if book.stock > 0 %}
                            <button
                                onclick="location.href='{% url 'books_fbv_admin:book_borrow' book.id %}';"
                            >
                                <span>Borrow</span>
                            </button>
                            {% else %}
                            <button
                                class="btn btn-outline-info btn-sm d-flex align-items-center justify-content-center"
                                style="padding: 2px 5px; font-size: 15px"
                                disabled
                            >
                                Borrow
                            </button>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </article>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <br />
        <br />
        <div class="row mt-3 d-flex justify-content-center align-items-center">
            {% endif %} {% endfor %}
        </div>
        {% endfor %}
        <hr />

        <div class="card text-center" style="font-size: 1.5em">
            <div class="card-header">Hello, Suki! This one is for Admin.</div>
            <div class="card-body">
                <h5 class="card-title">CRUD for Admin</h5>
                <p class="card-text">"Lead Them To Paradise!"</p>
                <button
                    onclick="location.href='{% url 'books_fbv_admin:book_list' %}';"
                >
                    <span>Login</span>
                </button>
            </div>
            <div class="card-footer text-body-secondary">Let it Happen</div>
        </div>
    </div>
</main>

{% endblock %}
